.icon {
  height: 16px;
  width: 16px;
}
.text-container {
  display: flex;
  flex-grow: 1;
  align-items: start;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}
.table {
  font-size: 12px;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.icon {
  min-width: 18px;
}
