.row {
  padding: 10px;
}

.right-panel {
  border-left: 1px solid black;
}

.left-panel {
  // border-right: 1px solid black;
}

.data-holder {
  padding: 15px 5px;
}
.list-group-item {
  background-color: transparent !important;
}

.ollist {
  font-size: 10px;
}

.menu {
  display: none;
  position: absolute;
  width: 60px !important;
  max-width: 60px !important;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  padding: 0 !important;
}
